@use "../../styles/variables";
.button {
  background-color: transparent;
  border: 0;
  border-radius: 6.2rem;
  cursor: pointer;
  font-family: "Satoshi", sans-serif;
  font-size: variables.$paragraph_large;
  font-weight: 500;

  &__none {
    background-color: transparent;
  }
  &__black {
    background-color: #000;
    color: #fff;
  }
  &__white {
    background-color: #fff;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    color: #000;
  }
  &__wide {
    padding: 1.6rem 5.4rem;
    width: 100%;
  }
}
