@use "../../../styles/variables";

.subscription {
  &__container {
    background-color: black;
    color: white;
    padding: 3.2rem 2.4rem 2.8rem;
    margin: 0 1.6rem;
    border-radius: 2rem;
    position: absolute;
    top: -17%;
    left: 0;
  }

  &__heading {
    font-family: "Integral CF", sans-serif;
    font-size: variables.$heading_second;
    margin-bottom: 3.2rem;
  }

  &__input {
    margin-bottom: 1.2rem;
  }

  &__button {
    font-size: variables.$paragraph_regular;
    padding: 1.2rem 1.6rem;
  }
}

@media (min-width: 480px) {
  .subscription {
    &__heading {
      font-size: variables.$t_heading_second;
    }

    &__button {
      font-size: variables.$t_paragraph_regular;
    }
  }
}