$heading_first: 3.6rem;
$heading_second: 3.2rem;
$heading_third: 2.4rem;
$heading_fourth: 2rem;

$paragraph_large: 1.6rem;
$paragraph_regular: 1.4rem;
$paragraph_small: 1.2rem;

$medium_gray: #f0f0f0;
$light_gray: #f2f0f1;
