@use "./_fonts.scss";
@use "./_typography.scss";
@use "./_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  font-family: "Integral CF", sans-serif;
}

#root {
  padding: 0.9rem 1.6rem;
}
