@use "../../styles/variables";
.header {
  align-items: center;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  position: relative;
  z-index: 9999;

  &__logo {
    font-size: variables.$heading_third;
    font-weight: 900;
    margin-right: 24.5vw;
  }
  &__actions {
    display: flex;
    gap: 1.2rem;
  }
}
