@use "../../styles/variables";

.items {
  margin-bottom: 4rem;

  &__heading {
    margin-bottom: 3.2rem;
    text-align: center;
    font-size: variables.$heading_second;
  }

  &__list {
    box-sizing: content-box;
    display: flex;
    gap: 1.6rem;
    list-style-type: none;
    margin-bottom: 2.8rem;
    overflow-x: scroll;
    padding-left: 1.6rem;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__view-all-button-container {
    padding: 0 1.6rem;
  }
}

.item {
  font-family: "Satoshi", sans-serif;
  width: 100%;

  &__img {
    width: 100%;
  }

  &__title {
    font-size: variables.$paragraph_large;
    font-weight: bold;
  }

  &__rating {
    align-items: center;
    display: flex;
    font-size: variables.$paragraph_small;
    gap: 1.1rem;
  }

  &__rating-full {
    color: rgba($color: #000000, $alpha: 0.6);
  }

  &__price {
    font-size: variables.$heading-fourth;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__price-base {
    color: rgba($color: #000000, $alpha: 0.6);
    text-decoration: line-through;
  }

  &__price-discount {
    background-color: rgba($color: #ff3333, $alpha: 0.1);
    border-radius: 6.2rem;
    color: #ff3333;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem 1rem;
  }
}

@media (min-width: 480px) {
  .items {
    &__heading {
      font-size: variables.$t_heading_second;
    }
  }

  .item {
    &__title {
      font-size: variables.$t_paragraph_large;
    }

    &__rating {
      font-size: variables.$t_paragraph_small;
    }

    &__price {
      font-size: variables.$t_heading-fourth;
    }

    &__price-discount {
      font-size: calc(1rem + 0.5vw);
    }
  }
}