@use "../../styles/variables";

.card {
  background-color: #fff;
  border-radius: 2rem;
  display: block;
  margin: 0 auto;
  max-height: 19rem;
  overflow: hidden;
  position: relative;
  width: 80vw;

  &__img {
    border-radius: 2rem;
    object-fit: fill;
    width: 100%;
  }

  &__title {
    font-family: "Satoshi", sans-serif;
    font-size: variables.$heading_third;
    font-weight: bold;
    padding: 1.6rem 0 0 2.4rem;
    position: absolute;
  }
}

.dress-style {
  background-color: #f0f0f0;
  border-radius: 2rem;
  margin: 0 1.6rem 5rem;
  padding-bottom: 2.7rem;
  padding-top: 4rem;

  &__heading {
    margin-bottom: 2.8rem;
    padding: 0 5.6rem;
    text-align: center;
    font-size: variables.$heading_second;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

@media (min-width: 480px) {
  .dress-style {
    &__heading {
      font-size: variables.$t_heading_second;
    }
  }

  .card {
    &__title {
      font-size: variables.$t_heading_third;
    }
  }
}